@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Manrope&display=swap');


body{
    background-color: rgb(55, 6, 83);
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Belanosima', sans-serif;
    font-size: medium;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: white;
    color: black;
}

nav ul li{
    padding: 0 10px;
}

.brand img{
    width: 80px;
    padding: 0 6px;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Belanosima', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    font-size: small;
    background-image: url(bg.png);
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
}

.bottom{
    position: sticky;
    height: 90px;
    background-color: black;
    color:white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fa-backward-step:before{
    content: "\f048";
    padding: 20px;
}

/* .fa-play:before{
    content: "\f04b";
    padding: 13px;
} */

.fa-forward-step:before{
    content: "\f051";
    padding: 20px;
}

.icons{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 90px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: whitesmoke;
    width: 120%;
    color: black;
    margin: 25px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    font-family: 'Belanosima', sans-serif;
    font-weight: lighter;
}

/* .fa-play::before{
    content: "\f04b";
    padding: 0 20px;
} */

.songItem img{
    width: 30px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
    padding: 10px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 9.4vw;
    font-family: 'Belanosima', sans-serif;
}

.songInfo img{
    margin-top: 15px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
